.App {
	text-align: center;
	background-color: #282c34;
}

.App-logo {
	height: 20vmax;
	pointer-events: none;
	margin: -3vmax auto;
}

.App-header {
	margin: 0 16px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.search {
	min-width: 33vmax;
	max-width: 33vmax;
}

.button {
	margin-left: 0.5vmax;
	min-height: 2vmax;
	min-width: 2vmax;
}

.button svg {
	margin-top: 0.1vmax;
	min-height: 1vmax;
	min-width: 1vmax;
}

div .ant-card-body {
	padding: 5px;
}

.ant-list-item-meta-title a {
	font-size: 0.75vmax;
}

.ant-input,
.ant-input-search-button {
	min-height: 2vmax;
	max-height: 2vmax;
}

.ant-input-search-button svg {
	margin-top: 0.2vmax;
	min-height: 1vmax;
	min-width: 1vmax;
}

input.ant-input {
	font-size: 0.75vmax;
	padding-bottom: 0.3vmax;
}

span.ant-input-group-addon {
	font-size: 1vmax;
	padding-bottom: 0.2vmax;
}

.ant-input-search-button {
	min-width: 2vmax;
}

.ant-list-pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1vmax 0;
}

.cardBody {
	font-size: 0.75vmax;
}
