@viewport {
	width: device-width;
	zoom: 1;
}

.anticon-search svg {
	color: rgba(255, 253, 250, 0.45);
}

div.ant-alert-error {
	background-color: rgb(66, 9, 0);
	border-color: rgb(131, 12, 0);
}

div.ant-alert-message {
	color: white;
}

div.ant-notification-notice-message {
	color: white;
}

div.ant-notification-notice-description {
	color: red;
}

.App {
	text-align: center;
	background-color: #282c34;
}

.App-logo {
	height: 20vmax;
	pointer-events: none;
	margin: -3vmax auto;
}

.App-header {
	margin: 0 16px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.searchDiv {
	width: 100%;
	display: grid;
	justify-items: center;
	text-align: center;
}

.searchBar {
	width: 100%;
	max-height: 4vmax;
	height: 4vmax;
}

.searchAlert {
	text-align: left;
	width: 50%;
}

.ant-alert.searchAlert {
	font-size: 1vmax;
}

.ant-alert.search {
	width: 100%;
}

.ant-input,
.ant-input-group-addon {
	color: white;
	background-color: rgb(26, 29, 30);
	border-color: rgb(65, 70, 73);
}

input.ant-input {
	height: 100%;
}

.ant-btn,
.ant-btn.button {
	min-height: 4vmax;
	min-width: 4vmax;
	vertical-align: top;
}

.button {
	margin-left: 0.5vw;
}

.ant-btn svg {
	min-height: 1vmax;
	min-width: 1vmax;
	margin-top: 5px;
}

.ant-card {
	word-wrap: break-word;
}

div .ant-card-body {
	padding: 5px;
}

.ant-list-item-meta-title a {
	font-size: 1vmax;
}

.ant-list-pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1vmax 0;
}

.cardBody {
	font-size: 1vmax;
	display: block;
}

.ReactModal__Overlay {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalClass {
	text-align: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.modalOverlayClass {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media (min-width: 1024px) {
	.searchBar {
		max-height: 2vmax;
		height: 2vmax;
	}

	input.ant-input {
		font-size: 1vmax;
	}

	span.ant-input-group-addon {
		font-size: 1vmax;
	}

	.ant-btn,
	.ant-btn.button {
		min-height: 2vmax;
		min-width: 2vmax;
	}
}
